{% load vite %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Dayly{% endblock %}</title>
    {% block stylesheets %}
    {% vite 'css/tailwind.css' %}
    {% endblock %}
</head>
<body>
    {% if request.path != '/' %}
        {% include '_navbar.html' %}
    {% endif %}

    <div class="mx-auto max-w-screen-lg px-4 py-8 sm:px-6 lg:px-8">
    {% block content %}
    {% endblock %}
    </div>

    {% block scripts %}
    {% vite 'js/main.js' %}
    {% endblock %}

    {% block extra_js %}
    {% endblock %}
</body>
</html>