{% extends 'base.html' %}

{% block title %}Dayly Home{% endblock %}

{% block content %}
<section>
    <div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
        <div class="mx-auto max-w-xl text-center">
            <h1 class="text-3xl font-extrabold sm:text-5xl">
                Write it down. Please.
                <strong class="font-extrabold text-slate-700 sm:block"> to review later. </strong>
            </h1>

            <p class="mt-4 sm:text-xl/relaxed">
                Daily journaling is a powerful tool that can help you improve your mental health, reduce stress, and improve your overall well-being.
            </p>

            <div class="mt-8 flex flex-wrap justify-center gap-4">
                <a class="block w-full rounded bg-slate-600 px-12 py-3 text-sm font-medium text-white shadow hover:bg-slate-700 focus:outline-none focus:ring active:bg-slate-500 sm:w-auto" href="{% url 'account_signup' %}">
                    Get Started
                </a>
                <a class="block w-full rounded px-12 py-3 text-sm font-medium text-slate-600 shadow hover:text-slate-700 focus:outline-none focus:ring active:text-slate-500 sm:w-auto" href="{% url 'account_login' %}">
                    Log In
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}