{% extends 'base.html' %}

{% block title %}Dayly Home{% endblock %}

{% block content %}
<section>
    <div class="d-flex vh-100">
        <div class="m-auto w-50 text-center">
            <h1 class="">Write it down. Please.<br> <strong> to review later. </strong></h1>
            <p>Daily journaling is a powerful tool that can help you improve your mental health, reduce stress, and improve your overall well-being.</p>
            <div class="d-flex justify-content-center gap-3">
                <a class="btn btn-secondary" href="{% url 'account_signup' %}">
                    Get Started
                </a>
                <a class="btn btn-light" href="{% url 'account_login' %}">
                    Log In
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}