{% extends 'base.html' %}

{% load vite %}

{% block title %}Dayly Home{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="mx-auto mx-50">
        <h1 class="my-4">Add Entry</h1>
        <form action="{% url 'create_entry' %}" method="post" class="mt-4">
            {% csrf_token %}
            {% for field in form %}
                {% if field.name == 'date_published' %}
                <div class="form-floating mb-3">
                    <input type="date" name="{{ field.name }}" id="{{ field.auto_id }}" value="" class="form-control" placeholder="Enter {{ field.label }}" />
                    <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                </div>
                {% else %}
                <div class="form-floating mb-3">
                    <textarea
                        id="{{ field.id_for_label }}"
                        name="{{ field.name }}"
                        class="form-control"
                        rows="15"
                        placeholder="What's on your mind?"
                        style="height: 200px;"
                    ></textarea>
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                </div>
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="text-sm text-red-700">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <div class="d-flex align-items-center gap-4 justify-content-between">
                <div>
                    <button type="submit" class="btn btn-primary">
                        Add Entry
                    </button>
                    <a href="{% url 'entries_index' %}" class="btn btn-secondary ms-2">
                        Cancel
                    </a>
                </div>
                <div>
                    <button type="button" id="btn-preview-entry" class="btn btn-primary">
                        Preview
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- preview modal -->
<div class="modal fade" id="entry-preview-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="entry-preview-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="entry-preview-modal-label"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
{% vite 'js/add-entry.js' %}
{% endblock %}