{% extends 'base.html' %}

{% block title %}Edit Dayly Entry{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-5">
    <div class="mx-auto">
        <h1 class="mb-4">Edit Entry</h1>
        <form action="{% url 'edit_entry' pk=entry.pk %}" method="post">
            {% csrf_token %}    
            {% for field in form %}
                {% if field.name == 'date_published' %}
                    <div class="form-floating mb-3">
                        <input type="date" name="{{ field.name }}" id="{{ field.auto_id }}" value="{{ entry.date_published|date:"Y-m-d" }}" class="form-control" placeholder="Enter {{ field.label }}" />
                        <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                    </div>
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li class="danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                <div class="form-floating mb-3">
                    <textarea id="{{ field.id_for_label }}" name="{{ field.name }}" class="form-control" placeholder="What's on your mind?">{{ field.value|default_if_none:"" }}</textarea>
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                </div>
                {% endif %}
            {% endfor %}
            <div class="d-flex align-items-center gap-4 justify-content-between">
                <div>
                    <button type="submit" class="btn btn-primary">
                        Save
                    </button>
                    <a href="{% url 'entries_index' %}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>
                <div>
                    <button type="button" id="btn-preview-entry" class="btn btn-primary">
                        Preview
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% include '../partials/_preview_entry.html' %}

{% endblock %}