{% extends 'base.html' %}

{% block title %}Dayly Home{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <div class="mx-auto">
        <h1>Edit Entry</h1>
        <form action="{% url 'edit_entry' pk=entry.pk %}" method="post">
            {% csrf_token %}    
            {% for field in form %}
                {% if field.name == 'date_published' %}
                    <div class="form-floating mb-3">
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" value="{{ entry.date_published|date:"m/d/Y" }}" class="form-control" placeholder="Enter {{ field.label }}" />
                        <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                    </div>
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li class="danger">{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                <div>
                    <label for="{{ field.id_for_label }}" class="sr-only">{{ field.label }}</label>
                    <div class="overflow-hidden">
                        <textarea
                            id="{{ field.id_for_label }}"
                            name="{{ field.name }}"
                            class="form-control"
                            rows="15"
                            placeholder="What's on your mind?"
                        >
                        {{ field.value|default_if_none:"" }}
                    </textarea>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
            <div class="flex items-center gap-4">
                <button type="submit" class="btn btn-primary">
                    Save
                </button>
                <a href="{% url 'entries_index' %}" class="btn btn-secondary">
                    Cancel
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}