{% extends 'base.html' %}

{% block title %}Entries{% endblock %}

{% block content %}

{% include 'partials/_messages.html' %}

<div class="container mt-5 latest-entries">
    <h1>Latest Entries</h1>
    {% if entries.count == 0 %}
        <h2>No Entries Found</h2>
        <p>
            <a href="{% url 'create_entry' %}" class="btn btn-primary">
                Create One
            </a>
        </p>
    {% else %}
        {% for entry in entries %}
            <div class="latest-entry">
                <p>
                    <a href="{% url 'view_entry' slug=entry.slug %}">{{ entry.date_published|date:"m/d/Y"  }}</a>
                </p>
                <p>{{ entry.body }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}