{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Log In" %}
{% endblock head_title %}
{% block content %}

    <div class="container mt-5">
        <div class="mw-50">
            <div class="mx-auto text-center">
                <h1>Log In</h1>
            </div>

            <form action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <label for="{{ field.id_for_label }}" class="form-label">
                    <div>
                        <strong class=""">{{ field.label }}</strong>
                    </div>
                    <div class="flex items-center">
                        &#8203;
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" />
                    </div>
                </label>
                {% else %}
                <div>
                    <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                    <div class="relative">
                        <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" placeholder="Enter {{ field.label }}" />
                    </div>
                </div>
                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="text-sm text-red-700">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="d-flex items-center justify-between">
                    <p class="text-sm text-gray-500">
                        No account?
                        <a class="underline" href="{{ signup_url }}">Sign up</a>
                    </p>
                    <button type="submit" class="btn">
                        Log in
                    </button>
                </div>
            </form>
        </div>
    </div> 
    
{% endblock content %}
