{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Log In" %}
{% endblock head_title %}
{% block content %}

    <div class="container mt-5">
        <div class="mw-50 mx-auto">
            <div class="mx-auto text-center">
                <h1>Log In</h1>
            </div>

            <form action="{% url 'account_login' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="form-check mt-4">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-check-input" id="{{ field.id_for_label }}" />
                    <label class="form-check-label" for="{{ field.id_for_label }}" >{{ field.label }}</label>
                </div>
                {% else %}
                <div class="form-floating mb-3">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="form-control" id="{{ field.id_for_label }}" placeholder="Enter {{ field.label }}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>

                {% endif %}
                {% if field.errors %}
                    <ul class="errorlist">
                        {% for error in field.errors %}
                            <li class="text-sm text-red-700">{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% endfor %}

                {% if form.non_field_errors %}
                    <ul>
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="mt-4">
                    <button type="submit" class="btn btn-primary">
                        Log in
                    </button>
                </div>
                <div class="mt-4">
                        No account?
                        <a href="{{ signup_url }}">Sign up</a>
                </div>
            </form>
        </div>
    </div> 
    
{% endblock content %}
