{% extends "account/base_entrance.html" %}
{% load i18n allauth account %}
{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}
{% block content %}

<div class="mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-lg text-center">
        <h1 class="text-2xl font-bold sm:text-3xl">Password Reset</h1>
    </div>

    {% if user.is_authenticated %}
    <p class="mx-auto mb-0 mt-8 max-w-md space-y-4"><strong>Note:</strong> You are already logged in as joe.</p>
    {% endif %}

    <p class="mx-auto mb-0 mt-8 max-w-md space-y-4">Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it.</p>

    <form action="{% url 'account_reset_password' %}" method="post" class="mx-auto mb-0 mt-8 max-w-md space-y-4">
        {% csrf_token %}
        {% for field in form %}
            <div>
                <label for="{{ field.name }}" class="sr-only">{{ field.label }}</label>
                <div class="relative">
                    <input type="{{ field.field.widget.input_type }}" name="{{ field.name }}" class="w-full rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-sm" placeholder="Enter {{ field.label }}" />
                </div>
            </div>
            {% if field.errors %}
                <div class="errorlist">
                    {{ field.errors }}
                </div>
            {% endif %}
        {% endfor %}

        <button type="submit" class="inline-block rounded-lg bg-slate-500 px-5 py-3 text-sm font-medium text-white">
            Reset My Password
        </button>
    </form>
    <p class="mx-auto mb-0 mt-8 max-w-md space-y-4">Please contact us if you have any trouble resetting your password.</p>
{% endblock content %}